@media screen and (min-width: 1100px) {
    .hero img{
        position: relative;
    }
    
    .city_data {
        position: absolute;
        top: 250px;
        left: 30px;
        padding: 10px;
    }

    .data_title {
        padding-top: 17px;
        padding-bottom: 17px;
    }

    .weather_data {
        position: absolute;
        top: 390px;
        right: 30px;
        padding: 10px;
    }

    h1 {
        font-size: 3.5rem;
    }
    
    h2 {
        background-color: #d80621;
        color: #ffffff;
        padding: 10px;
        border-radius: 10px;
    }

    section p {
        font-size: 1.2rem;
    }

    .weather_title::after {
        content: " ⛅️";
        font-size: 2rem;
    }

    .weather_icon {
        display: none;
    }
}