/* root */
:root {
    --primary-color: #011627; /* rich black */
    --secondary-color: #07f4f4; /* vivid cyan */
    --accent-color-1: #ffffff; /* white */
    --accent-color-2: #747578; /* gray */
}

body {
    font-family: "Roboto", serif;
}

h1 {
    font-weight: 100;
    font-size: 3rem;
}

h2, h4 {
    font-weight: 400;
}

h3 {
    font-weight: 400;
    background-color: #07f4f4;
    padding: 10px;
}

h2 {
    background-color: var(--primary-color);
    color: var(--accent-color-1);
    padding: 10px;
}




/* contact us form */
.cf1 fieldset {
    margin: 2rem 0;
    border: none;
    padding: .5rem 2%;
}

.cf1 label {
    display: block;
    padding-top: 1rem;
    font-size: 1rem;
}

.cf1 input[type="text"],
.cf1 textarea {
   background-color: #eee;
   display: block;
   border: 1px solid #999;
   border-radius: 6px;
   padding: .75rem;
   width: 100%;
   max-width: 400px;
   font-size: .8rem;
}

.cf1 input[type="radio"] {
    margin-right: 10px;
    margin-bottom: 10px;
}

.cf1 button {
    border: none;
    background-color: black;
    color: white;
    border-radius: 6px;
    padding: .8rem;
    font-size: 1rem;
    width: 96%;
    max-width: 428px;
    margin: -1rem 2% 2rem 2%;
}

.cf1 input:required,  
.cf1 textarea:required {
    border-top: 6px solid red;
}

.cf1 input:required:valid,
.cf1 textarea:required:valid {
    border-top: 6px solid green;
} 

.message_us {
    padding-top: 25px;
}

/* footer */
.social_media {
    display: grid;
}
