body {
    display: grid;
    height: 100vh;
    grid-template: 200px 1fr 180px / auto auto auto auto;
    font-family: "Roboto", serif;
    font-weight: 400;
}

header {
    background-color: rgb(0, 0, 0, .5);
    padding: 2rem;
    grid-column: 1 / 5;
}

h1, h3 {
    font-weight: 600;
    color:rgb(255, 165, 0)
}

main {
    grid-column: 1 / 5;
    background-color: purple;
    color: rgb(255, 165, 0);
    padding: 1rem;
}

.box {
    background-color: orange;
    color: purple;
}

footer {
    background-color: rgb(0, 0, 0, .5);
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 5;
}

nav a {
    display: block;
    color: purple;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    border: 1px solid #fff;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style-type: none;
}
