body {
    display: grid;
    grid

}

header, footer {
    background-color: #000000;
}

nav {
    background-color: #02274d;
}

nav a {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    color: #f08080;
    font-size: 1rem;
    text-decoration: none;
}

h1, h2 {
    color: #d3d3d3;
}
