

body {
    font-family: "Roboto", serif;
}

h1 {
    font-weight: 200;
    font-size: 2rem;
    color: #fff;
    margin: 0 auto;
    padding: 15px;
}

h2 {
    font-weight: 400;
    font-size: 1.5rem;
}

h3 {
    margin-bottom: 0;
   /*border: 1px solid #111111;*/
}

header {
    background-color: #272727;
    padding: 10px;
}

.page-title {
    text-align: center;
    display: block;
}

nav a {
    display: block;
    text-align: right;
    color: #fff;
    padding: 1.5rem;
    text-decoration: none;
}

nav a:hover {
    color: #ff5154;
    border-radius: 10px;
    transition: 0.5s;
}

main, footer, header {
    margin: 1rem auto;
    border: 2px solid rgb(39, 39, 39, .2);
}

#menu {
    display: flex;
    justify-content: right;
    font-size: 1.5rem;
    padding-right: 30px;
    color:#fff;
    text-decoration: none;
}

#menu::before {
    content: "☰";
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
}

.navigation li {
    display: none;
}

.filter-title {
    text-align: center;
}

.temple-grid {
    display: grid;
    grid-template-columns: 1fr;
}

 section { 
    text-align: center;
    padding: 10px;
}

footer {
    background-color: #272727;
    color: #fff;
    text-align: center;
    padding: 5px;
}

.show li {
    display: block;
}

#menu.show::before {
    content: "X";
}

.temple-grid p {
    font-family: "Caveat", serif;
    margin: 0;
    font-size: .9rem;
}

.label {
    font-family: "Roboto", serif;
    font-size: 0.8rem;
    font-weight: 600;
    color: #5b059d;
}

img { 
    border-radius: 20px;
    border: 1px solid #111111;
}
