@media screen and (min-width: 600px) {
    .container_home {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 1rem auto;
    }
}




@media screen and (min-width: 825px) {
    header {
        display: grid;
        grid-template-columns: 2fr 3fr;
    }
    
    .navigation {
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
        text-decoration: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .container_home {    
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 1rem auto;
    }

    #menu {
        display: none;
    }
}
