

h1 {
    background-color: black;
    color: #fff;
    padding: 10px;
}
.prf1 fieldset {
    margin: 2rem 0;
    border: none;
    padding: .5rem 2%;
}

.prf1 label {
    display: block;
    padding-top: 1rem;
    font-size: 1rem;
}

.prf1 span {
    font-style: italic;
}

.prf1 input[type="text"],
.prf1 input[type="date"],
.prf1 textarea {
    background-color: #eee;
    display: block;
    border: 1px solid #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    font-size: .8rem;
}

.prf1 select {
    background-color: #eee;
    display: block;
    border: 1px solid #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 425px;
    appearance: none;
}

.prf1 input[type="radio"],
.prf1 input[type="checkbox"] {
    margin-right: 10px;
    margin-bottom: 10px;
}

.prf1 input[type="submit"] {
    border: none;
    background-color: black;
    color: white;
    border-radius: 6px;
    padding: .8rem;
    font-size: 1rem;
    width: 96%;
    max-width: 428px;
    margin: -1rem 2% 2rem 2%;
}

.prf1 input:required {
    border-bottom: 6px solid red;
}

.prf1 input:required:valid {
    border-bottom: 6px solid green;
}

.prf1 select:required {
    border-bottom: 6px solid red;
}

.prf1 select:required:valid {
    border-bottom: 6px solid green;
}

.prf1 input[type="date"], 
.prf1 select {
    font-size: .8rem;
}

.prf1 .features,
.prf1 .stars {
    padding-top: 20px;
    font-size: 1rem;
}