

body {
    font-family: "Roboto", serif;
}

h1 {
    font-weight: 200;
    font-size: 1.4rem;
    color: #fff;
    margin: 0 auto;
    padding: 15px;
}

h2 {
    font-weight: 300;
    font-size: 1.5rem;
}

header {
    background-color: #272727;
    padding: 10px;
}

.page_title {
    text-align: center;
}

nav a {
    display: block;
    text-align: right;
    color: #fff;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    color: #ff5154;
    border-radius: 10px;
    transition: 0.5s;
}

main, footer, header {
    max-width: 800px;
}

#menu {
    display: flex;
    justify-content: right;
    font-size: 1.5rem;
    padding-right: 30px;
    color:#fff;
    text-decoration: none;
}

#menu::before {
    content: "☰";
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
}

.navigation li {
    display: none;
}

.home_title {
    display: block;
    text-align: center;
}

.container_home {
    display: grid;
    grid-template-columns: 1fr;
}

figure { 
    text-align: center;
}

footer {
    background-color: #272727;
    color: #fff;
    text-align: center;
    padding: 5px;
}

.show li {
    display: block;
}

#menu.show::before {
    content: "X";
}