

body {
    font-family: "Roboto", serif;
    font-weight: 400;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-weight: 100;
    font-size: 2rem;
    padding: 20px;
}

h2 {
    font-weight: 100;
    font-size: 1.5rem;
}

header {
    background-color: #90a9b7;
    
}

nav {
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: #272727;
    text-align: center;
    padding: 1.5rem;
    text-decoration: none;
}

nav a:hover {
    background-color: #efd09e;
}

.home_title {
    display: block;
    text-align: center;
}

.container_home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.container_home figcaption {
    text-align: center;
}

/* Larger view *****************************************/

/*nav ul {
    display: flex;
}

nav ul li {
    flex: 1 1 100%;
}
    