

body {
    font-family: "Roboto", serif;
    font-weight: 400;
    max-width: 800px;
    margin: 0 auto;
h1 {
    font-weight: 100;
}

nav {
    margin: 0 auto;
    background-color: #efd09e;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: #272727;
    text-align: center;
    padding: 1.5rem;
    text-decoration: none;
}

nav a:hover {
    background-color: #90a9b7;
}

/* Larger view *****************************************/

/*nav ul {
    display: flex;
}

nav ul li {
    flex: 1 1 100%;
}
    